# These are likely to change based on your specific setup
export CV_ROOT=$HOME/code/CollectiveVoice
export CV_DEPLOY_HOST=your.hostname.com
export CV_DEPLOY_DIR=/tmp/collectivevoice
export CV_DEPLOY_PORT=3122
export CV_DEPLOY_USER=dancer
export DANCER_ENVIRONMENT=development
export SS_USER=www-data
export SS_GROUP=www-data
export SS_WORKERS=2
# ^^^ might want to bump that to 10 on a public server

# Reload these if $CV_ROOT value above is different than shell-env
export PERL5LIB=$CV_ROOT/lib/:$PWD/local/lib/perl5:$PERL5LIB
export SS_LOG_FILE=$CV_ROOT/logs/CollectiveVoice.log
export SS_PID_FILE=$CV_ROOT/run/CollectiveVoice.pid
export SS_STATUS_FILE=$CV_ROOT/run/server_status
